.countries__nav {
  margin-bottom: 95px;
  margin-top: -4px;
}

.countries__list {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;

  &::after {
    content: "";
    position: absolute;
    top: 39px;

    display: block;
    width: 899px;
    height: 1px;

    background-color: rgba(44, 46, 63, 0.3);
  }
}

.countries__list-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: rgba(44, 46, 63, 0.3);
  letter-spacing: -0.415px;

  &:not(:last-child) {
    margin-right: 99px;
  }

  &:hover {
    color: #fe7865;
  }
}

.countries__list-item--active {
  color: #fe7865;
}
