.intro {
  height: 860px;

  background-image: url("../img/intro-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1920px 860px;
}

.intro__container {
  width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 169px;
  padding-right: 80px;
  padding-left: 700px;

  color: #ffffff;
}

.intro__title {
  width: 412px;
  margin: 0 0 30px;

  font-weight: 600;
  font-size: 55px;
  line-height: 80px;
  letter-spacing: -1.1px;
}

.intro__description {
  margin: 0 0 33px;

  font-weight: normal;
  font-size: 16px;
  line-height: 170%;
  letter-spacing: -0.47px;
}

.intro__button {
  display: inline-block;
  position: relative;

  min-width: 340px;
  padding: 30px 40px;

  font-weight: bold;
  font-size: 12px;
  text-align: left;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;

  background-color: #fe7865;
  border: none;

  &:hover {
    background-color: #f17d4b;
    cursor: pointer;
  }
}

.intro__button-icon {
  position: absolute;
  top: 31px;
  left: 286px;

  fill: none;
}
