.place {
  position: relative;

  margin-bottom: 97px;

  &:not(:nth-child(3n)) {
    margin-right: 60px;
  }

  &:last-child {
    margin-right: 0;
    margin-left: 60px;
  }

  &:nth-child(3n) {
    margin-left: 0;
  }
}

.place__anchor {
  position: absolute;
  z-index: 2;

  width: 350px;
  height: 430px;

  background: rgba(20, 21, 23, 0.6);
  opacity: 0;

  &:hover {
    cursor: pointer;
    opacity: 1;
  }

  &::after {
    content: "Смотреть подробнее";

    display: block;
    box-sizing: border-box;
    margin: 152px auto 0;
    padding: 25px 20px;
    width: 266px;

    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;

    border: 1px solid rgba(255, 255, 255, 0.7);
  }
}

.place__title {
  position: absolute;
  top: 369px;
  left: 67.5px;
  z-index: 3;

  width: 215px;
  margin: 0;
  padding: 16px 0;

  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #2c2e3f;
  letter-spacing: -0.415px;

  background-color: #ffffff;
}

.place__image {
  position: relative;
  z-index: 1;
}
