.places {
  padding: 182px 0 0;
}

.places__title {
  position: relative;

  margin-top: 0;
  margin-bottom: 64px;
  padding: 0 660px 0 0;

  font-weight: 600;
  font-size: 55px;
  line-height: 80px;
  color: #2c2e3f;
  letter-spacing: -1.25px;

  &::after {
    content: "";
    position: absolute;
    top: 190px;
    left: 0;

    display: block;
    width: 228.51px;
    height: 4px;

    background-color: #fe7865;
  }
}

.places__description {
  margin-top: 0;
  margin-bottom: 56px;
  padding: 0 795px 0 0;

  font-size: 16px;
  line-height: 28px;
  color: rgba(44, 46, 63, 0.7);
  letter-spacing: -0.47px;
}

.places__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;

  list-style: none;
}
