.site-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 0;

  list-style: none;
  font-weight: 500;
  font-size: 14px;
  color: #141517;
}


.site-list__item:not(:first-child) {
  margin-left: 40px;
}

.site-list__item {
  &:hover {
    color: #fe7865;
  }
}
